.partners-section {
  margin-block: 12.5rem;
}

.partners-title {
  font-size: 4rem;
  font-family: var(--font-2);
  font-weight: 600;
  color: var(--c11);
}

.partners-title span {
  color: var(--p1);
}

.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin-top: 3.75rem;
  justify-content: center;
}

.partners-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 4rem;
  border-top: 1px solid var(--c2);
  border-right: 1px solid var(--c2);
}

.partners-item:nth-child(4n) {
  border-right: none;
}

.partners-item:nth-child(1) {
  padding-left: 0;
}

.partners-item:nth-child(-n + 4) {
  border-top: none;
}

@media (max-width: 800px) {
  .partners-section {
    margin-block: 5rem;
  }

  .partners-title {
    font-size: 3rem;
  }

  .partners-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .partners-item {
    padding: 2.5rem 2rem;
  }

  .partners-item:nth-child(1) {
    padding-left: 2rem;
  }

  .partners-item:nth-child(4n) {
    border-right: 1px solid var(--c2);
  }

  .partners-item:nth-child(2n) {
    border-right: none;
  }

  .partners-item:nth-child(-n + 4) {
    border-top: 1px solid var(--c2);
  }

  .partners-item:nth-child(-n + 2) {
    border-top: none;
  }
}

@media (max-width: 600px) {
  .partners-title {
    font-size: 2.25rem;
  }

  .partners-item {
    padding: 1.75rem 1rem;
  }

  .partners-item:nth-child(1) {
    padding-left: 1rem;
  }

  .partners-item img {
    max-width: 100%;
  }
}
