.testimonial-text {
  background-color: var(--p1);
  padding: 18.5rem 11.6875rem 9rem 5rem;

}

.testimonial-quote-text {
  font-family: var(--font-3);
  font-size: 2.25rem;
  font-style: italic;
  line-height: 1.33;
}

.testimonial-author {
  font-family: var(--font-2);
  font-size: 1.5rem;
  display: block;
  padding-top: 2rem;
  font-style: normal;
  font-weight: 500;
  color: var(--p4);
}

@media (max-width: 800px) {
  .testimonial-img {
    width: 100%;
    height: auto;
  }

  .testimonial-text {
    padding: 4rem 1.5rem;
  }

  .testimonial-quote-text {
    font-size: 1.75rem;
  }
}

@media (max-width: 600px) {
  .testimonial-quote-text {
    font-size: 1.5rem;
  }

  .testimonial-author {
    font-size: 1.25rem;
  }
}